@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{ //main css
   // outline: 1px solid rgba(0, 0, 255, 0.2); //allows me see all the div in the site
    margin: 0; // margin and two others below resets default default spacimg and keeps everything inside the box
    padding: 0;
    box-sizing: border-box;
   // outline: 1px solid rgba(255, 0, 0, 0.2); // Helps you see overlapping blocks
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "poppins";
    margin: 0;
    background: #f2f2f2;

}

span {
    color: #007af3;
}

.navbar {
    background: white;
    max-width: 100%;
    height: 50px;
    
}


.navbar-container {
    display: flex;
    justify-content: space-between;  // pushes the logo to the right and menu to the right
    align-items: center;
    padding: 0em 1.5em;
    box-sizing: border-box;
}

.logo {
    padding-right: 2em;
}

.logo h2 {
    font-size: 1.2em;
    padding: 1em  0  0 0;
    margin-bottom: 60em;
  
}

.logo a {
    text-decoration: none;
    color: black;
}




.menu ul {
    list-style: none; // this removes the dots on the sides of th menus
    flex-direction: column;
    gap: 1em;
    margin: 0;
    margin-bottom: 60em;

    li {
        font-size: 1.5em;
        font-weight: 500;
    }
}



.menu a {

    text-decoration: none;
    color: black;
    font-size: 1rem;

}


.hero {
    padding: 1em;

    .intro {
        display: block;

        h2 {
            text-align: center;
            color: grey;
            text-transform: uppercase;
            margin-top: 2.5em;
            padding-bottom: .3em;
        }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 1em;
        }


        p {
            text-align: center;
            line-height: 3.2vh;
            font-size: 1.1em;
            padding: 0 0.8em;
            margin: 0 1em 0 0;
        }


        img {
            width: 40%;
            margin:  2em 0 1em 6em;
            border: 5px solid #007af3;
            border-radius: 10em

        }
    }
}


.about {

    min-height: 30vh; // use thing instead of just height, so the texts dont overlay
    background: #20272e;

    .about-container {
        padding: 1.5em 2em 1.5em 1em;
        color: white;

        p {
            line-height: 2em
        }

        .p1 {
            padding: 0.8em 0;
        }
        
    }
}


.skills {
    padding: 2em;
    text-align: center;
}

.skillscontainer {
    display: flex; // could be used intead of block and the flex direction will fix the spaces b/w the next block when background changed
    flex-direction: column; // stack the up vertically for mobile view
    align-items: center;  // aligns texts and everything else to the center perfectly
    gap: 1em; // this gives spaces b/w the lists
    background: #007af3;
    color: rgb(240, 229, 229);


    h1 {
        padding-top: .5em;
        font-size: 2em;
        font-family: arial;
        font-weight: 200;
        text-decoration: underline;
        color: rgba(240, 229, 229, 0.911);
    }
 

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: .5em;
    }
    
}

.fontend-skills, .backend-skills {


    background: #006bd6;
    border-radius: 1em;
    padding: 1em 4em;
    margin: 1em 0 2em 0;


    li {
        margin-bottom: 2em;
        font-size: 1.2em;
        font-family: arial;
        list-style: none;
        margin-bottom: 1em;
    }

}



.projects {
     padding: 2em;
     color: rgb(63, 62, 62);


     .projectscontainer {
        display: flex;
        flex-direction: column;


        h1 {
            font-size: 2em;
            font-weight: bold;
            color: gray;
            text-decoration: underline;
            text-align: center;
            padding-bottom: 1em;
        }
     }


     .project1, .project2, .project3, .project4, .project5  {

        a {
            text-decoration: none;
            color: #007af3;
            
        }

        h2 {
            font-size: 2em;
            padding-bottom: .5em;
        }

        img {
            border-radius: 1em;
            width: 90%;
            padding-bottom: .5em;
        }

        p {
            font-size: 1em;
            margin-bottom: 3em;
        }

     }
}


.contact-section {
    padding: 2em;
}


.contact-form {
    display: flex;
    flex-direction: column;


    h1 {
        color: rgb(63, 62, 62);
        font-size: 1.8em;
        padding-bottom: 1em;
        text-align: center;
    }

    label {
        display: block; // this arranges both the label and inputs in block
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 3em;
        padding: 1em; // makes the inputs bigger from within
        border-radius: 1em;
        border: 1px solid grey;
    }

    .submit-btn {
        background: #007af3;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.5em;
        width: 60%;
        cursor: pointer;

    }

}

.footer {
  background: white;
  text-align: center;
  font-weight: 500;
  height: 13vh;

  p {
    color: grey;
    padding: 1em 0 0 0;
  }
}

.footer-container {
    padding-bottom: 1em;
}



.social-icons a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
  padding-right: 2em;
}

.social-icons a:hover {
  color: #007bff;
  transition: color 1s ease; // This makes the color change on hover look smooth, not instant. So instead of snapping to blue, it fades into blue.

}


@media (max-width: 765px)  { // stick the menu on mobile view only
    .menu {
    position: fixed;
    right: .7em;
    z-index: 999;

    display: none;  //COME BACK LATER TO ADD JAVASCRIPT
}

}




@media (min-width: 768px) {     /* styles for tablets and small laptops */


    .menu ul {
        display: flex;
        flex-direction: row;
        margin-bottom: 92em;
        margin-top: 0;
        gap: 2em;
        font-weight: 500;

         :hover {
            transform: scale(1.03);
         }
    }

    .logo {
        margin-bottom: 20.5em;
    }

    .intro {
        
        h2 {
            margin-top: 4em;
            padding-top: .5em;
        }

    }


    .hero  {

        padding: 0 2em;
        display: flex;
        flex-direction: row;

        .hero-img {
            margin-left: 10em;

            img {
                width: 30%;
                border-radius: 20em;
            }
        }
    
    }

    .about {
        padding: 0 .5em 0 .5em;
        min-height: 38vh;
    }


    .bothskills {
        display: flex;
        gap: 4em;
    }

    .project1, .project2, .project3, .project4, .project5 {
        margin-left: 5em;
    }


    .contact-section {
        padding: 0 5em;
    }

    .footer {
        height: 8vh;
    }

}






@media (min-width: 1024px) {    /* styles for bigger laptops and desktops */
    
    
   .navbar {
    height: 70px;
   }


    .menu ul {
        display: flex;
    }

    .hero {
       display: flex;
       align-items: center;
    }

    .intro {
        margin-left: 4em;

        h2, h1 {
            margin-right: 2em;
            padding-top: 1em;
        }

        .hero-img {
            margin-left: 13em;
            padding: 1em 0 1em 0;
        }
    }

    .about {
        padding-bottom: 1em;
        min-height: 10vh;
    }

    .bothskills {
        display: flex;
        gap: 12em;
    }

    .skillscontainer {
        padding-bottom: 3em;
    }


    .project12 {
        display: flex;
        gap: 1;
        padding-bottom: 3em;
    }

    .project34 {
        display: flex;
        gap: 1;
    }

    .project5 {
        width: 44%;

        p {
            padding: 0 10em 0 0;
            text-align: left;
        }
    }

    .entryform {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .contact-form {
        
        h1 {
            text-align: left;
        }

       

    }


    
}




@media (min-width: 1450px)  {
    .hero {
        display: flex;
        padding-left: 2em;
    }


    .intro {
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: 12em;
        padding-top: 1em;

    }
}



@media (min-width: 1800px)  {
    .hero {
        display: flex;
        padding-left: 2em;
    }


    .intro {
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: 28em;
        padding-top: 1em;

    }

    .about {
        padding: 0 3em 0 3em;
        height: 20em;

    }

    .about-container {

        p {
            margin-top: 1em;
        }

    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 90em;
        padding: 0;
        margin-left: 0;

    }

    .social-icons {
        padding-top: .7em;
    }
}











//@media (min-width: 768px) { ... }     /* tablets */
//@media (min-width: 1024px) { ... }    /* small laptops */
//@media (min-width: 1280px) { ... }    /* large screens */


//media (min-width: 768px) {
  /* styles for tablets and small laptops */
//}

//@media (min-width: 1024px) {
  /* styles for bigger laptops and desktops */
//}
//That means:

//When the screen is at least 768px, apply these styles.

//When the screen is at least 1024px, apply these other styles.


